/* 전체 레이아웃 */
.container {
  display: flex;
  width: 100%;
  height: 100vw;
  padding: 2rem;
  background-color: #f0f0f0;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

/* 상단 입력 폼 */
.nav-style {
  max-width: 1200px;
  min-width: 800px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  padding: 1.5rem;
  gap: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 1;
  max-width: 1200px;
  min-width: 800px;
}

.form-style {
  max-width: 180px;
}

.form-style div{
  font-weight: 600;
  margin-bottom: 12px;
}

.form-style input {
  width: 100%;
  height: 40px;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.button-style {
  width: 180px;
  height: 42px;
  margin-top: 28px;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #0095ff;
  color: white;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

.button-style:hover {
  background-color: #51b7ff;
  color: yellow;
}


.button-style-delete {
  margin-top: 0.6rem;
  width: 40%;
  height: 36px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #bf1d1d;
  color: white;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

.button-style-delete:hover {
  background-color: #ff5151;
}

/* 옵션 */
.sort-container{
  width: auto;
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: right;
  align-items: center;
  margin-top: 48px;
  margin-left: auto;
  position: relative;
}

.sort-container p{
  flex-grow: 100%;
  display: flex 11;
  flex-direction: row;
  padding: 2rem;
  width: auto;
  height: 20px;
}

.sort-container select{
  height: 32px;
  border-radius: 5px;
  width: 88px;
  padding: 0 0 0 4px;
}


/* 테이블 스타일 */
.table-style {
  max-width: 1200px;
  min-width: 800px;
  margin-top: 24px;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  overflow-x: auto;
}

.table-style table {
  width: 100%;
  border-collapse: collapse;
  background-color: #e6e6fa;
  border-radius: 8px;
  overflow: hidden;
  text-indent: initial;
  border-radius: 5px 5px 0 0;
  border-spacing: 2px;
}

.table-style table tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

.table-style table tr th{
  width: 20%;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
}
.table-style table tr th div{
  font-size: 1.5rem;
}

/* 국가 리스트 */
.list-style {
  margin-top: 32px;
  width: 100%;
  max-width: 1200px;
  min-width: 800px;
  background-color: white;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  overflow-x: auto;
}

.list-style tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

.list-style tr td{
  width: 20%;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
}